[submodule "pp/catch_the_pp"]
        path = pp/catch_the_pp
        url = https://zxq.co/ripple/catch-the-pp.git
[submodule "secret"]
	path = secret
	url = https://github.com/kawatapw/secret
[submodule "common"]
	path = common
	url = https://github.com/kawatapw/ripple-python-common
